@{
    ViewBag.Title = "Index";
}
@using System.Collections;
@using TermsAndDefinitions.WebUI.ViewModels;
@model IEnumerable<VTerm>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation {
<ul class="nav">
    <li>@Html.ActionLink("Все", "All","Search")</li>
    <li>@Html.ActionLink("Термины", "Terms", "Search")</li>
    <li>@Html.ActionLink("Определения", "Definitions", "Search")</li>
    <li>@Html.ActionLink("Проекты", "Projects", "Search")</li>
</ul>
}



@{
    if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="text-cut-box">
                <div>
                    <p><span class="term">@item.TermName</span> — @item.Description.Description</p>
                </div>
            </div>
        }
    }
}


