@model IEnumerable<TermsAndDefinitions.WebUI.ViewModels.PreviewTermViewModel>

@{
    if (ViewData["anotherTitle"] != null)
    {
        <hr />
        <h4>@ViewData["anotherTitle"].ToString()</h4>
    }
    else
    {
        <hr />
        <h3>Термины и определения</h3>
        <hr />
    }
}

@{if (ViewData["anotherTitle"] == null)
    {
        var alphabetRU = "АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ";
        var alphabetEN = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        <hr />
<ul class="hr">
    @foreach (var symbol in alphabetRU.ToCharArray())
    {
        <li>@Ajax.RouteLink(symbol.ToString(), new { action = "Terms", queryString = @symbol }, new AjaxOptions { UpdateTargetId = "content" })</li>
    }
</ul>
<ul class="hr">
    @foreach (var symbol in alphabetEN.ToCharArray())
    {
        <li>@Ajax.RouteLink(symbol.ToString(), new { action = "Terms", queryString = @symbol }, new AjaxOptions { UpdateTargetId = "content" })</li>
    }
</ul>
    }
    <hr />
}
<div id="content">

    <ul>
    @foreach (var term in Model)
    {
        <li style=" list-style-type: none">
            <div class="text-cut-box">
                <div>
                    <p>
                        @Ajax.RouteLink(term.TermName, "RouteToTerm", new { name = term.TermName }, new AjaxOptions { UpdateTargetId = "Main" }, new { @class = "term" }) — @term.Definition.Description
                    </p>
                </div>
            </div>
        </li>
    }</ul>

</div>
