@model IEnumerable<TermsAndDefinitions.WebUI.ViewModels.PreviewProjectViewModel>
@{
    if (ViewData["anotherTitle"] != null)
    {
        <hr />
        <h4>@ViewData["anotherTitle"].ToString()</h4>
    }
    else
    {
        <hr />
        <h3>Проекты</h3>
        <hr />
    }
}

<div>
    <ul>
        @foreach (var project in Model)
        {
            <li style="list-style-type: none">
                <div>
                    <p>
                      @*  @Ajax.RouteLink(project.ProjectName, "ProjectDetail", new { id = project.IdProject }, new AjaxOptions { UpdateTargetId = "Main", HttpMethod = "GET" }, new { @class = "project" })*@

                        @Html.ActionLink(project.ProjectName, "Index", new {id = project.IdProject }, new { @class = "project" })  -  @project.Annotation
                        @*<span> Информационная система: @((string.IsNullOrEmpty(project.InformationSystem)) ? "Не выставлено" : @project.InformationSystem)</span> *@
                    </p>
                </div>
            </li>
        }
    </ul>
</div>